@import "owl.carousel.css";
@import "owl.theme.default.css";
:root h1, :root h2, :root h3, :root h4, :root h5, :root h6, :root p, :root a, :root label {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.flex {
  display: flex;
}

header {
  padding: 16px 0;
}
header .container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 32px;
}
header ul a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: black;
}
header ul a img {
  max-width: 30px;
}

.logo {
  position: absolute;
  top: 22px;
  left: calc(50% - 40px);
}

.contacts {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.main_banner {
  padding: 90px 0;
  background: #F0EFEB;
}
.main_banner article {
  max-width: 534px;
}
.main_banner article h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 42px;
}
.main_banner article p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 26px;
}
.main_banner article a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  text-decoration: none;
  padding: 5px 15px;
}
.main_banner .container {
  align-items: center;
  justify-content: space-between;
}

.bg-img {
  max-width: 420px;
}
.bg-img img {
  width: 100%;
  display: block;
}

.best-sellers {
  padding: 60px 0 140px 0;
  text-align: center;
  background: #E5E5E5;
}
.best-sellers .cards_text {
  max-width: 632px;
  margin: auto;
}
.best-sellers .cards_text h3 {
  margin-bottom: 27px;
}
.best-sellers .cards_text p {
  margin-bottom: 47px;
}
.best-sellers .cards_text h2 {
  margin: 68px 0 20px 0;
}
.best-sellers .card_wrap {
  justify-content: space-between;
  padding: 48px 0 90px;
}
.best-sellers .card_wrap .cards {
  max-width: 315px;
}
.best-sellers .card_wrap .cards h4 {
  margin: 27px 0 17px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.best-sellers .card_wrap .cards p {
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.best-sellers .card_wrap .cards a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}
.best-sellers .card_wrap .cards img {
  display: block;
  width: 100%;
}

.owl-item {
  text-align: center;
  display: flex;
  justify-content: center;
}

.owl-stage {
  display: flex;
  align-items: center;
}

.pers_block {
  padding: 50px 0 70px 0;
}
.pers_block .container {
  max-width: 1164px;
}
.pers_block .container .pers_content {
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
}
.pers_block .container .bg_white {
  background: #FFFFFF;
}
.pers_block .container .bg_grey {
  background: rgba(204, 204, 204, 0.6);
}
.pers_block .container h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 30px;
}
.pers_block .container p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 40px;
}
.pers_block .container a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
}

.features {
  padding: 190px 0 50px 0;
}
.features .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .container h4 {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.features .container .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 65px;
}
.features .container .point {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features .container .point img {
  max-width: 50px;
}
.features .container .point p {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 15px;
}

.guide {
  padding: 160px 0 290px 0;
  background: linear-gradient(to bottom, white 0%, white 50%, lightgrey 50%, lightgrey 100%);
}
.guide .main_p {
  color: #000;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.guide .persons {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.guide .people {
  max-width: 288px;
}
.guide .people img {
  position: relative;
  top: 20px;
}
.guide .people a {
  display: inline-block;
  color: #000;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
.guide .people p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.guide .people p:first-of-type {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-top: 20px;
}
.guide .discover {
  display: flex;
  justify-content: center;
}

.card_wrap {
  padding: 85px 0 90px 0;
}
.card_wrap h3 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card_wrap p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card_wrap form {
  display: flex;
  flex-wrap: wrap;
  max-width: 365px;
  justify-content: space-between;
}
.card_wrap .name {
  width: 153px;
  height: 39px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.card_wrap .email {
  width: 366px;
  height: 39px;
  margin-bottom: 20px;
}
.card_wrap input {
  width: 100%;
  padding: 12px 8px;
  border: 1px solid #000;
  color: #A0A0A0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_wrap .register {
  display: flex;
  justify-content: center;
}
.card_wrap button {
  color: white;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #000;
  background: #000;
  padding: 8px 23px;
}
.card_wrap .butto {
  margin: auto;
}

footer {
  background-color: #000;
  padding: 50px 0 16px 0;
}

.first_item {
  display: flex;
  justify-content: space-between;
}

.right_side {
  display: flex;
}
.right_side ul {
  list-style: none;
  margin-left: 25px;
}
.right_side ul li {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.right_side ul li:first-of-type {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.1px;
  margin-bottom: 20px;
}

.foot_links {
  max-width: 130px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.sec_item p {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.1px;
  margin-top: 20px;
}

/*# sourceMappingURL=works.css.map */
